aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
.libs
free
INSTALL
install-sh
kill
libtool
*.lo
ltmain.sh
m4/
Makefile
Makefile.in
missing
*.o
pgrep
pkill
pmap
procps-ng-*.tar.gz
proc/.depend
proc/libproc-ng.la
proc/libproc-ng.pc
proc/Makefile
proc/Makefile.in
ps/Makefile
ps/Makefile.in
ps/pscommand
pwdx
skill
slabtop
snice
*.so
stamp-h1
sysctl
tload
top
uptime
vmstat
w
watch
*~
