
# Languages for man page
[po4a_langs] de fr pl pt_BR sv uk zh_CN
[po4a_paths] procps-man.pot $lang:$lang.po

[type: man] ../free.1 $lang:$lang/free.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../kill.1 $lang:$lang/kill.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../pgrep.1 $lang:$lang/pgrep.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../pidof.1 $lang:$lang/pidof.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../pmap.1 $lang:$lang/pmap.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../pwdx.1 $lang:$lang/pwdx.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../skill.1 $lang:$lang/skill.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../slabtop.1 $lang:$lang/slabtop.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../sysctl.8 $lang:$lang/sysctl.8 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../sysctl.conf.5 $lang:$lang/sysctl.conf.5 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../tload.1 $lang:$lang/tload.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../uptime.1 $lang:$lang/uptime.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../vmstat.8 $lang:$lang/vmstat.8 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../w.1 $lang:$lang/w.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../watch.1 $lang:$lang/watch.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../ps/ps.1 $lang:$lang/ps.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"

[type: man] ../top/top.1 $lang:$lang/top.1 \
            add_$lang:?add_$lang/$lang.add opt:"-k 80"
#../watch.1
